<nav>
    <% if (userRole) { %>
        <p>user logged in with role: <%= userRole %></p> 
    <% } %>

    <% if (userRoleGlobal) { %>
        <p>user logged in with role global: <%= userRoleGlobal %></p> 
    <% } %>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/auth/signin">Sign In</a></li>
        <li><a href="/auth/signup">Sign Up</a></li>
        <li><a href="/users">Users (limited_user, user or admin)</a></li>
        <li><a href="/tasks">Tasks (admin)</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
    </ul>
</nav>