<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>    
    <!-- <h1>courseName: <%= courseName %></h1>
    <p>lessonName: <%= lessonName %></p> -->

    <h1>Home</h1>

</body>
</html>