<!DOCTYPE html>
<html>
<head>
    <title>Головна сторінка</title>
</head>
<body>    
    <!-- <h1>Курс: <%= courseName %></h1>
    <p>Урок: <%= lessonName %></p> -->

    <h1>test</h1>

</body>
</html>