<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
</head>
<body>    
    <h1>signin</h1>

    <%- include('components/navbar') %>

    <form method="POST" action="/auth/signin">
        <input type="text" name="login" placeholder="login" />
        <br>
        <input type="password" name="password" placeholder="password" />
        <br>
        <button type="submit">signin</button>
    </form>
</body>
</html>
