<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>    
    <h1>signup</h1>

    <%- include('components/navbar') %>

    <form method="POST" action="/auth/signup">
        <input type="text" name="firstName" placeholder="First Name" />
        <br>
        <input type="text" name="lastName" placeholder="Last Name" />
        <br>
        <input type="email" name="email" placeholder="Email" />
        <br>
        <input type="password" name="password" placeholder="Password" />
        <br>
        <label>role: limited_user, user or admin</label>
        <br>
        <input type="text" name="role" placeholder="role" />
        <br>
        <input type="text" name="dateOfBirth" placeholder="Date Of Birth" />
        <br>
        <input type="text" name="profilePicture" placeholder="Profile Picture" />
        <br>
        <button type="submit">signup</button>
    </form>
</body>
</html>
