<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
</head>
<body>    
    <!-- <h1>courseName: <%= courseName %></h1>
    <p>lessonName: <%= lessonName %></p> -->

    <h1>users</h1>

</body>
</html>